/*
Page Flow Styles
*/
.websiteBody {
    margin: 0;
  }
  .about-Page {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    pointer-events: auto;
  }
  .Page-outer {
    pointer-events: none;
    z-index: 1;
  }
  .about-frame {
    position: relative;
    z-index: 2;
    pointer-events: none;
    width: 100%;
    margin-left: 0;
    height: auto;
    min-width: 200px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .Frame-outer {
    pointer-events: none;
    z-index: 2;
  }
  
  /*
  About Banner
  */
  .about-banner-frame {
    position: relative;
    z-index: 3;
    pointer-events: none;
    margin-left: 0px;
    width: 100%;
    min-width: 831px;
    height: 400px;
    margin-top: -50px;
    margin-bottom: 0px;
    min-height: 275px;
    background-image: url(../assets/About-Banner.png);
    background-position: center;
    background-size: cover;
    opacity: 0.3;
  }
  .about-banner-frame-outer {
    pointer-events: none;
    z-index: 3;
    position: relative;
    display: flex;
  }
  
  .about {
    position: relative;
    z-index: 4;
    pointer-events: none;
    margin-left: 0%;
    width: 100%;
    min-width: 372px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 54px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-style: normal;
  
  
  }
  .about-outer {
    pointer-events: none;
    z-index: 4;
    position: relative;
    display: flex;
  }
  
  /*
  About Us Header/Sub-Header
  */
  .about-header {
    position: relative;
    margin-left: 0%;
    margin-top: -250px;
    width: 100%;
    float: left;
    padding: 20px;
    line-height: 10px;
    text-align: center;
  }
  .about-header-title{
    font-size: 42px;
    line-height: 100px;
    font-family: Rock Salt;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-align: center;
  }
  .about-sub-header{
    position: relative;
    margin-left: 0%;
    margin-top: 40px;
    width: 100%;
    float: left;
    padding: 20px;
    line-height: 10px;
    text-align: center;
  }
  .about-sub-header-title{
    font-size: 32px;
    line-height: 100px;
    font-family: Rock Salt;
    text-align: center;
  }
  .about-line{
    position: relative;
    z-index: 22;
    margin-left: 43%;
    width: 12%;
    margin-top: 20px;
    min-height: 2px;
    max-height: 2px;
    border: 2px solid rgba(0, 0, 0, 1);
  }
  
  /*
  Content body styles
  */
  .parent-container {
    padding: 0px;
  }
  .content-title{
    font-size: 26px;
    line-height: 100px;
    font-family: Rock Salt;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  .span-about {
    color: rgba(0, 0, 0, 1);
    font-style: normal;
    font-family: Rock Salt;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .about-left-child {
    position: relative;
    margin-left: 10%;
    width:30%;
    float: left;
    line-height: 32px;
    text-align: center;
  }
  .about-right-child {
    position: relative;
    margin-left: 20%;
    width: 30%;
    float: left;
    line-height: 32px;
    padding-bottom: 30px;
    text-align: center;
  }
  
  /*
  Location map Style
  */
  .location-map {
    position: relative;
    margin-left:0%;
    margin-top: -175px;
    width:100%;
    float: left;
    line-height: 32px;
    text-align: left;
  }
  .location-img{
    position:relative;
    z-index:13;
    margin-left:13%;
    width:30%;
    min-width:343px;
    height:195px;
    margin-top:0px;
    margin-bottom:0px;
    min-height:195px;
    content: url(../assets/Location-Image.png);
  }
  .location-img-outer{
    z-index:13;
    position:relative;
    display:flex;
  }
  .google-map-code{
    position:relative;
    pointer-events:all;
    z-index:13;
    margin-left:13%;
    width:25%;
    min-width:343px;
    height:300px;
    margin-top:0px;
    margin-bottom:0px;
    min-height:195px;
    overflow:hidden;
    padding-bottom:40%;
    height:0;
  }
  .google-map-code iframe{
    left:0;
    top:0;
    height:65%;
    width:100%;
    position:absolute;
  }
  
  .paypal{
      z-index: 1;
    margin-left: 30%;
    margin-top: 10%;
  }