.home_pg_banner {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 35%;
  top: 8%;
}

.home_page {
  position: absolute;
  width: 100%;
  height: 15%;
  left: 20%;
  top: 55%;
}

.palaces_logo {
  font-family: Rock Salt;
  font-size: 4rem;
  font-weight: 700;
  line-height: 80.4px;
  position: absolute;
  top: 45%;
  left: 5%;
}

body {
  min-height: 100px;
  margin-bottom: 100px;
  clear: both;
}

h1 {
  font-family: Rock Salt;
  font-size: 2.3rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 1000;
  line-height: 50.4px;
  position: absolute;
  top: -30%;
  left: 1%;
}
h3 {
  font-family: Rock Salt;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: Rock Salt;
  font-size: 1.5rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 40px;
}
blockquote {
  font-family: Rock Salt;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Rock Salt;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5667px;
}
